<div class="container">
  <h1>Here is your receipt from <%= @receipt.store.name %></h1>

  <ul>
    <% @receipt.items.each do |item| %>
      <li><%= item.name %> - <%= item.price %> - <a href="/item/<%= item.id %>/edit">Edit</a></li>
    <% end %>
  </ul>

  <a href="/receipts/<%= @receipt.id %>/delete">Delete this Receipt</a>

</div>
